body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 100px;
}
.wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
  }
  .box {
     width: 200px;
     height: 160px;
     background-color: aquamarine;
     margin: 20px;
     border-radius: 20px;
     box-shadow: 7px 7px 30px rgb(83, 125, 111);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: 0.4s;
  }

  .box:hover{
    box-shadow: 0 0 0 ;transform: translate(-10px,-10px);
  }
 